<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>
      Thanks for visiting my <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample app site. If you would like to contact me please reach out at <a href=mailto:"scrowlan@gmail.com">scrowlan@gmail.com</a>.
    </p>